/* 
CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Variables 
*/
  // Fonts
  $main-font: "Lato", sans-serif;
  $sub-font: arial, sans-serif;

  // Colors
  $white: #ffffff;
  $grey: #ebebeb;
  $light-blue: #71a1be;
  $medium-blue: #005282;
  $dark-blue: #05263a;
  $pink: #f58c99;

  // Breakpoints
  // Small tablets and large smartphones (landscape view)
  $screen-sm-min: 576px;
  // Small tablets (portrait view)
  $screen-md-min: 768px;
  // Tablets and small desktops
  $screen-lg-min: 992px;
  // Large tablets and desktops
  $screen-xl-min: 1200px;

  // Mixins

// Small devices
@mixin breakpoint-sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin breakpoint-md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin breakpoint-lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin breakpoint-xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}



/*
Styles
*/

body {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint-lg {
    width: 80%;
    margin: 0 auto;
  }

  .background-grey {
    background-color: $grey;
  }

  .background-lightblue {
    background-color: $light-blue
  }

  .background-darkblue {
    background-color: $dark-blue
  }

  .background-pink {
    background-color: $pink;
  }

  .intro-info {
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 2px $medium-blue solid;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin: 2rem;
  }

  .intro-breakdown {
    font-weight: bold;
    text-align: center;
    padding: 1rem;

    @include breakpoint-lg {
      width: 75%;
    }

    &__text {
      margin-bottom: 1rem;

      .text-blue {
        color: $medium-blue
      }
    }

    &__calltoaction {
      @include breakpoint-lg {
      }
      .input-button {
        font-weight: normal;
      }
    }
  }

  .register-button {
    color: $white;
    background-color: $medium-blue; 
    width: 100%;
    border-radius: .5rem;
    padding: 2rem;
    margin: 1rem 0rem;
  }

  .event-info {
    width: 100%;

    @include breakpoint-lg {
      display: flex;
      justify-content: space-between;
    }

    &__calendar {
      padding: 1rem;
      @include breakpoint-lg {
        flex-basis: 35%;
        margin-right: 1rem;
      }

      .calendar-img {
        display: block;
        margin: 0 auto;
      }

      p {
        color: $white;
        text-align: center;
        margin: 0 auto;

        &:first-of-type {
          font-weight: bold;
          font-size: 1.5rem;
          margin: 1rem 0rem;
        }
      }
    }

    &__countdown {
      color: $white;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;

      @include breakpoint-lg {
        flex-basis: 60%;
        padding-top: 2rem;
      }

      .countdown-timer {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }
  }

  .details {

    @include breakpoint-lg {
      display: flex;
      margin: 1rem 0rem;
    }

    &-author {
      color: $white;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @include breakpoint-lg {
        padding: 2rem;
      }

      img {
        margin-top: 2rem;
      }

      p {
        font-style: italic;
        margin: 1rem 0rem;
      }

      h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    &-info {
      padding: 2rem 0rem;

      h3 {
        text-align: center;
        font-weight: bold;
      }

      .checkmark {
        display: flex;
        align-items: center;
        margin: 2rem 1rem;

        &:last-of-type {
          margin-bottom: 0rem;
        }

        &-img {
          display: block;
          align-self: flex-start;
        }

        p {
          margin-left: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .callout {
    color: $white;
    text-align: center;
    padding: 2rem;

    @include breakpoint-lg {
      width: 93%;
    }

    h2 {
      font-size: 1rem;
    }
    @include breakpoint-lg {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .exclamation-img {
      display: none;

      @include breakpoint-lg {
        display: block;
        margin-right: 2rem;
      }
    }

    p {
      font-style: italic;
    }
  }

  .triangle {
    z-index: -1;
    margin-top: -1rem;
    border: 75px solid $dark-blue;

    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: $dark-blue;
    border-bottom-color: transparent;
  }

  .calltoaction-info {
    &:last-of-type {
      margin-top: -4rem;
    }

    .button-response {
      margin: 1rem 0 2rem;
      text-align: center;
    }
  }
}